@font-face {
    font-family: "Diploma Regular";
    src: url("media/Diploma_Regular.ttf");
}

html, body {
    min-height: 100%;
}

.header {
    
    margin-bottom: 10px;
    color: white;
  }

  .header-font{
    font-family:"Diploma Regular";
    font-size: 5em;
    text-shadow: 4px 4px black;
  }

.body{
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 75%, rgba(255,0,0,1) 100%); 
    display:flex; 
    flex-direction:column; 
    min-height: 100%;
    height:100vh; 

    margin:0; 
}

footer{
    margin-top:20px; 
    padding-top: 5px;
    background-color: transparent;
  }

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 5em;
    align-items: center;
    gap: 20px; 
    flex: 30%;
  }

.captioned-image img{
    height: 256px;
    width: 256px;
    align-self: center;
    margin-bottom: 10px;
    filter: drop-shadow(5px 5px 5px #222222);
    
}

.image-caption{
    text-align: center;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:gainsboro;
}

.captioned-image {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: inherit;
    flex-shrink: inherit;
    flex: 30%;
    height: 500px;
    max-width: 70%;
}

.image-caption-header{
    color: blanchedalmond;
    font-size: 2.25em;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.footer-container{
    display: flex;
    padding-left: 10px;
    padding-right:10px;
    justify-content: space-evenly;
}

.footer-right img{
    height: 32px;
    width: 32px;
    justify-self: right;
    align-self: flex-end;
}

.footer-left{
    flex-grow: 1;
}

.hbtn {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    padding: 8px 20px;
    margin: 0px 3px 6px;
    text-align: center;
    background-color: black;
    border: 2px solid red;
    text-decoration: none;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    z-index: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
} 


.hbtn i {
    padding-right: 8px;
} 


.hb-fill-middle::before {
    position: absolute;
    content: "";
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    transition-duration: 0.3s;
    z-index: -1;
    inset: auto auto 0px 0px;
    width: 100%;
    height: 0px;
    opacity: 1;
} 


.hb-fill-middle:hover::before {
    width: 100%;
    height: 50%;
    opacity: 1;
} 


.hb-fill-middle2:hover {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    transition: color 0.3s ease 0s, background 0s ease 0.3s;
} 


.hb-fill-middle::after {
    position: absolute;
    content: "";
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    transition-duration: 0.3s;
    z-index: -1;
    inset: 0px auto auto 0px;
    width: 100%;
    height: 0px;
    opacity: 1;
} 


.hb-fill-middle:hover::after {
    height: 50%;
} 