@font-face {
    font-family: "Diploma Regular";
    src: url("media/Diploma_Regular.ttf");
}

.header {
    background: rgb(47,19,47);
    background: radial-gradient(circle, rgba(47,19,47,1) 55%, rgba(2,26,70,1) 100%);
    font-family:"Diploma Regular";
    margin-bottom: 10px;
    color: white;
  }

  .header-font{
      font-size: 5em;
  }

.body{
    background: rgb(173,149,189);
    background: linear-gradient(90deg, rgba(173,149,189,1) 0%, rgba(255,255,255,1) 50%, rgba(199,194,187,1) 100%);
    display:flex; 
    flex-direction:column; 
    height:100vh; 
    margin:0; 
}

footer{
    margin-top:20px; 
    padding-top: 5px;
    background-color: silver;
  }

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 5em;
    align-items: center;
    gap: 20px; 
    flex: 30%;
  }

.captioned-image img{
    height: 256px;
    width: 256px;
    align-self: center;
    margin-bottom: 10px;
}

.image-caption{
    text-align: center;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.captioned-image {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: inherit;
    flex-shrink: inherit;
    flex: 30%;
    height: 500px;
    max-width: 70%;
}

.image-caption-header{
    font-size: 2.25em;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.footer-container{
    display: flex;
    padding-left: 10px;
    padding-right:10px;
    justify-content: space-evenly;
}

.footer-right img{
    height: 32px;
    width: 32px;
    justify-self: right;
    align-self: flex-end;
}

.footer-left{
    flex-grow: 1;
}